.bottom-text {
  margin-top: auto;
}

.MuiBox-root {
  display: flex;
  flex-direction: column;
}

.paragraphs {
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
